@model DealDouble.Web.ViewModels.CategoryCRUDViewModel
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">New SubCategory Create</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form id="submitCategory">
    <div class="modal-body">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-5">
                    <label class="font-weight-bold">Name</label>
                    <input type="text" class="form-control" name="Name" />
                </div>
                <div class="col-lg-5">
                    <label class="font-weight-bold">Category</label>
                   <select name="ParentCategoryID" class="form-control">
                       <option disabled selected>Select SubCateogry</option>
                       @foreach (var data in Model.ParentCategories)
                       {
                           <option value="@data.ID">@data.ParentCategoryName</option>
                       }
                   </select>
                </div>
                <div class="col-lg-6">
                    <label class="font-weight-bold">Description</label>
                    <textarea type="text" class="form-control" name="Description" />
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="saveCategory" class="btn btn-primary" type="button">Save</button>
    </div>
</form>

<script>
    $("#submitCategory").validate({
        rules: {
            Name: {
                required: true,
                minlength: 5,
                maxlength: 30
            },
            Description: {
                required: true,
                minlength: 10,
                maxlength: 150
            }
        },
        messages: {
            Name: {
                required: "Name is required",
                minlength: "Minimum length is 5",
                maxlength: "Maximum lenth is 30"
            },
            Description: {
                minlength: "Minimum length is 10",
                maxlength: "Maximum lenth is 150"
            }
        }
    })
    $("#saveCategory").click(function () {
        if ($("#submitCategory").valid()) {
            $.ajax({
                method: 'Post',
                url: '@Url.Action("Create","Category")',
                data: $("#submitCategory").serialize()
            }).done(function (response) {
                $("#categoryCreateFrom").modal('toggle');
                window.setTimeout(function () {
                    $("#listingArea").html(response);
                }, 200)
                swal({
                    icon: "success",
                    title: "Data Save Successfully"
                });

            }).fail(function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                console.log(thrownError);
            })
        }
    });


</script>





