 <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Auction Create</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form id="submitAuction">
    <div class="modal-body">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-4" >
                    <label class="font-weight-bold">Title</label>
                    <input type="text" class="form-control" name="Title" />
                </div>

                <div class="col-lg-4">
                    <label class="font-weight-bold">Description</label>
                    <input type="text" class="form-control" name="Description" />
                </div>
                <div class="col-lg-4">
                    <label class="font-weight-bold">ActualAmount</label>
                    <input type="number" class="form-control" name="ActualAmount" />
                </div>
                <div class="col-lg-4">
                    <label class="font-weight-bold">StartingTime</label>
                    <input type="datetime" class="form-control" name="StartingTime" />
                </div>
                <div class="col-lg-4">
                    <label class="font-weight-bold">EndingTime</label>
                    <input type="datetime" class="form-control" name="EndTime" />
                </div>
                <div class="col-lg-6">
                    <label class="font-weight-bold">Pictures</label>
                    <input type="file" id="auctionPictures" class="form-control" name="AuctionPictures" multiple/>
                </div>
                <div class="col-lg-6 mt-1" id="pictuerArea">
                <input type="hidden" id="pictueIDs" name="AuctionPictures"/>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="saveAuction" class="btn btn-primary" type="button">Save</button>
    </div>
</form>

<script>
    $("#auctionPictures").change(function () {
        var element = this
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var files = element.files[i];
            formData.append("Photo", files);
        }
        $.ajax({
            method: "Post",
            url: "@Url.Action("UploadImage", "Shared")",
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false

        }).done(function (responses) {
            if (responses.Success) {
                //var picIDs = "";
                for (var i = 0 ; i < responses.pictuerJSON.length; i++)
                {
                   
                    var picResponse = responses.pictuerJSON[i];
                    AttachNewImage(picResponse.pictureURL, picResponse.ID)
                         
                    //picIDs = picIDs + "," + picResponse.ID;
                }
                //$("#pictueIDs").val(picIDs);
            }
            else {
                alert("Image URL Not set");
            }
        }).fail(function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            console.log(thrownError);
        });
    });

    $("#saveAuction").click(function () {
        debugger;
        var imageIDs = [];
        $("#pictuerArea .image").each(function(){
            var imageID = $(this).attr("data-id");
            imageIDs.push(imageID);
        });
        $("#pictueIDs").val(imageIDs.join());
        $.ajax({
            method: 'Post',
            url: '@Url.Action("Create","Auction")',
            data: $("#submitAuction").serialize()
        }).done(function (response) {
            $("#auctionCreateFrom").modal('toggle');
            $("#listingArea").html(response);
        }).fail(function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            console.log(thrownError);
        })
    });
    function AttachNewImage(imageURL, imageID) {
        debugger;
        var $newHtml = $("#imageTemplate").clone();
        $newHtml.find(".image").attr("src", "/Content/images/" + imageURL);
        $newHtml.find(".image").attr("data-id", imageID);
        $("#pictuerArea").append($newHtml.html());
        $("#pictuerArea .image").click(function () {

            $(this).remove();
        })
    }

</script>



