@model DealDouble.Web.ViewModels.AuctionCrudeViewModel 
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Auction Create</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form id="submitAuction">
    <div class="modal-body">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-4" >
                    <label class="font-weight-bold">Title</label>
                    <input type="text" class="form-control" name="Title" />
                </div>
                <div class="col-lg-4">
                    <label class="font-weight-bold">Category</label>
                    <select name="CategoryID" class="form-control">
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.ID">@category.Name</option>
                        }
                    </select>
                </div>

                <div class="col-lg-4">
                    <label class="font-weight-bold">Description</label>
                    <input type="text" class="form-control" name="Description" />
                </div>

                <div class="col-lg-4">
                    <label class="font-weight-bold">ActualAmount</label>
                    <input type="number" class="form-control" name="ActualAmount" />
                </div>
                <div class="col-lg-4">
                    <label class="font-weight-bold">StartingTime</label>
                    <input type="datetime" class="form-control" name="StartingTime" />
                </div>
                <div class="col-lg-4">
                    <label class="font-weight-bold">EndingTime</label>
                    <input type="datetime" class="form-control" name="EndTime" />
                </div>
                <div class="col-lg-6">
                    <label class="font-weight-bold">Pictures</label>
                    <input type="file" id="auctionPictures" class="form-control" name="AuctionPictures" multiple/>
                </div>
                <div class="col-lg-6 mt-1" id="pictuerArea">
                <input type="hidden" id="pictueIDs" name="AuctionPictures"/>
                </div>
                <div id="formError" class="form-group bg-danger mt-3" style="display:none">

                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="saveAuction" class="btn btn-primary" type="button">Save</button>
    </div>
</form>

<script>
    $("#auctionPictures").change(function () {
        var element = this
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var files = element.files[i];
            formData.append("Photo", files);
        }
        $.ajax({
            method: "Post",
            url: "@Url.Action("UploadImage", "Shared")",
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false

        }).done(function (responses) {
            if (responses.Success) {
                for (var i = 0 ; i < responses.pictuerJSON.length; i++)
                {
                   
                    var picResponse = responses.pictuerJSON[i];
                    AttachNewImage(picResponse.pictureURL, picResponse.ID)
                }
            }
            else {
                alert("Image URL Not set");
            }
        }).fail(function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            console.log(thrownError);
        });
    });
    $("#submitAuction").validate({
        rules: {
            Title:{
                required: true,
                minlength: 15,
                maxlength: 150
            }
        },
        messages: {
            Title: {
                required: "Title is required",
                minlength: "Minimum length is 15",
                maxlength: "Maximum lenth is 150"
            }
        }
    })

    $("#saveAuction").click(function () {
        if (("#submitAuction").valid()){
            var imageIDs = [];
            $("#pictuerArea .image").each(function () {
                var imageID = $(this).attr("data-id");
                imageIDs.push(imageID);
            });
            $("#pictueIDs").val(imageIDs.join());
            $.ajax({
                method: 'Post',
                url: '@Url.Action("Create","Auction")',
                data: $("#submitAuction").serialize()
            }).done(function (response) {
                if (response.Success == true) {
                    ReloadListing();
                    $("#auctionCreateFrom").modal('toggle');
                }
                else {
                    $("#formError").html(response.Error);
                    $("#formError").show();

                }

            }).fail(function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                console.log(thrownError);
            })
        }
     
    });
  

</script>



