@model DealDouble.Web.ViewModels.MailSendViewModel
@{
    ViewBag.Title = "Auction List";
    if (!Request.IsAjaxRequest())
    {
        Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    }
}
<link href="~/Content/css/richtext.min.css" rel="stylesheet" />
<script src="~/Content/vendor/jquery/jquery.richtext.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="card" id="form_container">
            <form id="frmMail">
                <div class="card-header">
                    Send Mail
                </div>
                <div class="card-body">
                    <div class="col-lg-12">
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" value="@Model.UserName" class="form-control" name="UserName" readonly />
                        </div>
                    
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-mail-forward"></i></span>
                            </div>
                            <input type="email" value="@Model.Email" class="form-control" name="Email" readonly />
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-comment"></i></span>
                            </div>
                            <input type="text" class="form-control" name="Subject" />
                        </div>
                        
                        <textarea id="txtEditor"  rows="4" name="BodyText"></textarea>
                    </div>
                    <button class="btn btn-success btn-sm float-right my-3" id="btnMail"><i class="fa fa-send"></i>Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#txtEditor").richText();
    });
    $("#frmMail").validate({
        rules: {
            Subject: {
                required: true,
                minlength: 7,
            },
            BodyText: {
                required: true,
                minlength: 15,
            },
        },
        messages: {
            Subject: {
                required: "Subject is required",
                minlength: "Minimum length is 7",
            },
            BodyText: {
                required: 'BodyText is required',
                minlength: "Minimum length is 15",
            }
        }
    })
    $('#btnMail').click(function () {
        if ($('#frmMail').valid()) {
            $.ajax({
                method: 'post',
                url: '@Url.Action("MailSend","Dashboard")',
                data: $("#frmMail").serialize()
            }).done(function (response) {
                    swal("Mail Send Successfully !", {
                        icon: "success",
                    });
                    setTimeout(function (response) {
                        $("#listingArea").html(response);
                    }, 1000)

            }).fail(function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            });
        }
    })
</script>